html,
body {
  background: #010101 !important;
}

canvas {
  border: 2px solid #ffffff;
  border-bottom: none;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.ant-layout {
  background: #001528 !important;
}

.ant-layout-header {
  border-bottom: 2px solid #ffffff;
  font-family: "VCR OSD Mono 1";
  text-transform: uppercase;
  letter-spacing: 0.6ch;
}

.ant-layout-content {
  background: #010101;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

.ant-layout-sider {
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-bottom-left-radius: 8px;
  margin-top: 63px;
}

.television {
  -webkit-box-shadow: -9px 9px 15px 0px #000000;
  box-shadow: -9px 9px 15px 0px #000000;
  padding: 2.5rem;
  padding-bottom: 0;
  background: #333333;
  border-radius: 8px;
}

.ant-notification-notice {
  background: rgba(0, 21, 40, 0.9) !important;
  border: 2px solid #ffffff;
  border-radius: 8px;
}

.ant-notification-notice * {
  color: rgb(239, 254, 239) !important;
}

.action-menu {
  position: relative !important;
  top: -50px !important;
  background: rgba(0, 21, 40, 0.9) !important;
  border: 2px solid #ffffff !important;
}

.action-menu li svg {
  position: relative;
  top: 2px;
  left: -4px;
}

.right-drawer {
  position: absolute !important;
  height: 500px !important;
}

.right-drawer .ant-drawer-content {
  background: rgba(0, 21, 40, 0.95) !important;
  border: 2px solid #ffffff !important;
  border-bottom: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.ant-comment {
  background: rgba(0, 21, 40, 0.95) !important;
  border: 2px solid #ffffff !important;
  border-radius: 8px;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.ant-comment *,
.ant-page-header-heading-title {
  color: rgb(239, 254, 239) !important;
}

.ant-comment-content-author-name {
  flex: 1;
}

.vitals {
  font-family: "VCR OSD Mono 1";
}

.ant-page-header-heading-title,
.action-menu-action,
.fancy {
  text-transform: uppercase;
  letter-spacing: 0.6ch;
}
